@charset "UTF-8";

header > div#src > div#srcicon {
    padding: 0px;
    width: 35px;
}

main {
    background-color: white;
    margin: 10px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main > section#complaints {
    text-align: center;
}

main > section#complaints > div > h1 {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}

main > section#complaints > div > p {
    margin: 10px 0px;
    font-size: 0.8em;
}

main > section#complaints > div > textarea {
    padding: 10px;
}

main > section#complaints > div > input {
    margin: 10px 0px 40px 0px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
}

span.nota {
    font-size: 3em;
    color: goldenrod
}

main > section#complaints > div > input:hover {
    background-color: rgb(1, 44, 1);
}

main > section > div {
    margin: 20px;
}

main > section#comments {
    background-color: rgb(225, 230, 230);
    padding: 20px 0px;
}

main > section#comments > div.comment > div.user {
    display: flex;
    align-items: center;
}

main > section#comments > div.comment > div.user > div.userinfo > h2 {
    font-size: 0.8em;
}

main > section#comments > div.comment > div.user > div.userinfo > p {
    font-size: 0.8em;
    margin-top: 3px;
    color: rgb(52, 52, 52);
}

main > section#comments > div.comment > div.user >  div.userpic img {
    max-width: 50px;
    border-radius: 50%;
    margin: 20px;
    margin-bottom: 0px;
}

main > section#comments > div.comment > div.stars  span.star {
    font-size: 1.2em;
    color: #ffaf22;
    margin: -2px;
}

main > section#comments > div.comment > div.stars > span#ratedate {
    font-size: 0.8em;
    color: rgb(52, 52, 52);
}

main > section#comments > div.comment > div.usercomments {

    text-align: justify;
    margin: 10px 0px;
    font-size: 0.8em;
    line-height: 1.5em;
}

div#c1txt, div#c2txt, div#c3txt {
    max-width: 300px;
}

main > section#comments > div.comment > div#icons {
    display: flex;
}

main > section#comments > div.comment > div#icons > div {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

main > section#comments > div.comment > div#icons > div#like {
    margin-right: 60px;
}

div#com1, div#com2, div#com3 ,#uhr1, #uhr2, #uhr3 {
    display: none;
}

hr.userhr {
    margin-top: 20px;
}

svg {
    margin: 0px 10px;
}