@charset "UTF-8";

img {
    max-width: 300px;
    display: block;
    margin: auto;
}

legend {
    text-align: center;
    font-size: 0.8em;
    padding: 5px 0px;
}

header {
    padding-bottom: 14px;
}

header h1 {
    margin-top: 3px;
}

main {
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}

main > p {
    padding-top: 20px;
    display: block;
    text-align: center;
}

main > div#lang {
    margin: 0px 20px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main > div#lang > div > a > img{
    max-width: 60px;
    border: 3px solid white;
    border-radius: 50%;
}

main > div#lang > div > a > img:hover{
    border: 3px solid #FFC353;
}

main > section {
    padding: 20px;
}

main > section > article {
    margin-bottom: 30px;
}

main > section > article > h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

main > section > article > h2 {
    font-size: 1.2em;
    color: #FA9511;
}

main > section > article > p {
    text-indent: 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2em;
    font-size: 0.8em;
}

main > section > article > p > a {
    color: #b96d0a;
    font-weight: bold;
}

main > section > article > div#premio {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section > article > div#premio > img {
    height: 160px;
}

main > section > article > div#redessociais {
    display: flex;
    justify-content: space-between;
}

main > section > article > div#redessociais > a > img {
    max-width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
}

main > section > article > div#redessociais > a > img:hover {
    box-sizing: border-box;
    border: 3px dotted rgba(255, 255, 255, 0);
} 

